<h1>Upravit kartičku ze sady <%= @question_set.name %></h1>

<%= button_to 'Zpět', question_set_question_path(@question_set, @question), method: :get %>

<hr>

<%= link_to 'Odkaz pro nahrávání obrázků', 'https://imgur.com/upload', target: :blank %>

<hr>

<%= form_for [@question_set, @question] do |form| %>

  <p>Původní obrázek:</p>
  <img src="<%= @question.image_url %>" width="100">

  <br>

  <p>Původní odpověď: <em><%= @question.answer %></em></p>


  <%= form.label 'URL obrázku' %>
  <%= form.text_field :image_url, required: true %> 
  <br>

  <%= form.label 'Odpověď' %>
  <%= form.text_field :answer, required: true %> 
  <br>

  <%= form.submit 'Uložit změny' %>
<% end %>

