<div class="card">
  <div class="card-body">
    <h2 class="card-title">Přidat kartičku do sady <%= @question_set.name %></h2>
    <div class="card-text">
      <hr>
        <%= link_to 'Odkaz pro nahrávání obrázků', 'https://imgur.com/upload', target: :blank %>
      <%= form_for [@question_set, @question] do |form| %>
      <hr>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <%= form.label 'URL obrázku' %>
            <%= form.text_field :image_url, required: true, class: 'form-control'%> 
          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <%= form.label 'Odpověď' %>
            <%= form.text_field :answer, required: true, class: 'form-control'%> 
          </div>
        </div>
      </div>
      <hr>
      <%= form.button 'Uložit a přidat další', name: :add_next, value: true, class: 'btn btn-success' %>
      <%= form.submit "Uložit", class: 'btn btn-success' %>
      <%= link_to 'Zpět', question_set_questions_path(@question_set), class: 'btn btn-dark' %>
      <% end %>
  </div>
</div>