<%= link_to "Zpět", question_sets_path %>
<h1><%= @question_set.name %></h1>
<h2>Sada obsahuje <%= @question_set.questions.count %> kartiček</h2>

<%= button_to "Spustit test", test_question_set_path(@question_set.id), method: :get %>

<hr>

<%= button_to "Upravit", edit_question_set_path(@question_set.id), method: :get %>
<%= button_to "Správa kartiček", question_set_questions_path(@question_set.id), method: :get %>
<%= button_to "Resetovat pokrok", reset_question_set_path(@question_set.id), data: { confirm: "Opravdu chceš resetovat pokrok?" } %>
